ul {
    margin-left: 60px;
}

.ul {
    margin-left: 20px;
}

nav {
    font-family: sans-serif;
    font-size: 16px;
    z-index: 3;
text-align: center;}

/* @media screen and (min-width:0px) and (max-width:991px) {.nav{height: 80vh;}
li{display: flex;
justify-content: center;} */
.w {
    width: 40%
}

.img {
    margin-left: 150px;
}

.icn {
    display: flex;
    margin-right: 350px;
    cursor: pointer;
    gap: 40px;
justify-content:flex-end}
@media screen and (max-width:800px) {.icn{justify-content: center;
margin: 0;}
    
}

a:hover {
    border-bottom: 2px solid #5FCAC7;
}

.twi:hover {
    border-bottom: 2px solid #5FCAC7
}

.fb:hover {
    border-bottom: 2px solid #5FCAC7
}

.goo:hover {
    border-bottom: 2px solid #5FCAC7
}

.tt {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #5FCAC7;
    border: none;
    padding: 10px;
    position: relative;
    right: 0px;
    
}

.z {
    z-index: -3;
}

.txt {
    position: absolute;
    bottom: 300px;
}

.txt>h1 {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
}

@media screen and (max-width:1150px) {
    .txt {
        position: absolute;
        bottom: 100px;
    }
}

@media screen and (max-width:950px) {
    .txt>h1 {
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 300;
    }

    .txt>p {
        font-family: sans-serif;
        font-size: 32px;
        font-weight: 200;
    }
}

@media screen and (max-width:765px) {
    .txt {
        position: absolute;
    }

    .txt>h1 {
        font-family: sans-serif;
        font-size: 34px;
        font-weight: 300;
    }

    .txt>p {
        font-family: sans-serif;
        font-size: 20px !important;
    }
}

@media screen and (max-width:765px) {
    .txt {
        position: absolute;
        top: 150px;
    }
}

@media screen and (max-width:650px) {
    .txt {
        position: absolute;
        top: 80px;
    }
}

@media screen and (max-width:540px) {
    .txt {
        position: absolute;
        top: 10px;
    }
}

@media screen and (max-width:390px) {
    .txt {
        position: absolute;
        top: 0px;
    }
}
@media screen and (max-width:390px) {
    .txt {
        position: absolute;
        top: 0px;
    }
    .txt>h1 {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    .txt>p {
        font-family: sans-serif;
        font-size: 16px !important;
    }
}

.txt>p {
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 500;
}

.bg {
    background-image: url(.\images\faded bg.jpg);
}

.bg>h1 {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.xt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.t {
    border-radius: 20px;
}

.butn {
    color: white;
    background: none;
    width: 300px;
    height: 90px;
    cursor: pointer;
    border: 4px solid white;
    font-size: larger;
    border-radius: 30px 30px 30px 30px
}

.butn:hover {
    background-color: white;
    color: black;
}

.col {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.bl {
    background-color: #5FCAC7;
    min-height: 800px;
    display: flex;
    justify-content: center;
}

.n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.o {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.i {
    width: 200px;
    border-radius: 10px;
    margin-top: 70px;
}

.rec {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    /* position: absolute;
    bottom: 100px;
    left: 300px; */
    margin-bottom: 150px;
}

.rec>h1 {
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #4b4342;
}

.rec>h2 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #4b4342;
}

.rec>p {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #4b4342;
}

@media screen and (max-width:1150px) {
    .rec {
        margin-bottom: 0px;
    }

    .rec>h1 {
        font-family: sans-serif;
        font-size: 32px;
        font-weight: 700;
        color: #4b4342;
    }

    .rec>h2 {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #4b4342;
    }

    .rec>p {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #4b4342;
    }

}

@media screen and (max-width:1150px) {
    .rec {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:850px) {
    .he {
        height: 600px;
    }
}

.red {
    background-image: url(./images/bgfadednew.jpg);
    font-family: sans-serif;
    color: white;
}

.cl>img {
    border-radius: 1000px;
    width: 80px;
    height: 80px;
}

.cl {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.clsay>h1 {
    display: flex;
    font-family: sans-serif;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.flx,
.flex {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}

.special-cakes {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

.itemss {
    margin: 0;
    padding: 0;
    position: relative;
    right: 4px;
    width: 1000px;
    flex: 1;
    overflow: auto;
    width: 60%;
    padding: 80px;
}

table {
    border: none;
}

.special-cakes th,
.special-cakes td {
    border: 1px solid #ddd;
    padding-top: 80px;
    text-align: center;
    vertical-align: middle;
    border-right: none;
    border-left: none;
    border-top: none;
}

.lp {
    text-align: center;
    padding: bottom 44px;
}

.special-cakes th {

    font-weight: bold;
}

.tri {
    color: #98A5B0;
    font-size: x-large;
}

.fat {
    display: flex;
    margin: 0%;
    padding: 0%;
}

.cant {
    position: relative;
    top: 200px;
    right: 70px;
    height: 19%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F2F4;
}

.fnt {
    font-size: xx-large;
}

.clrchng {
    color: #3DB9B5;
}

@media screen and (max-width:1000px) {
    .fat {
        flex-direction: column;
        align-items: center;
        z-index: 45;
    }

    .special-cakes td {
        padding: 20px;
    }

    .cant {
        position: relative;
        top: 100px;
        right: 10px;
        height: 19%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F3F2F4;
    }

}

.last {
    background-image: url(./images/lastfaded.jpg);
    height: 130vh;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.frm {
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    background: transparent;
}

.but {
    border-radius: 20px;
    border: 2px solid white;
    padding: 15px;
    background-color: #3DB9B5;
    color: white;
    border: none;
width: 150px;}
.pr{display: flex; gap: 30px;
position: relative;
bottom: 80px;}
@media screen and (max-width:450px) {.hhh{font-size: 22px !important;}
.last{height: 200vh;}}
    
.footer{background-color: #2a2a2a;
min-height: 40vh;
color: white; text-transform: capitalize;}
.vh{display: flex;
justify-content: center;
gap: 100px;}
.vhh{display: flex;justify-content: center;}
@media screen and (max-width:740px) {.vh{gap:30px}}
@media screen and (max-width:440px) {.vh{flex-direction: column !important;}  
}
@media screen and (max-width:340px) {.vhh{flex-direction: column !important; font-size: 12px;}  
}